body{
  background-image: url("https://cdn.glitch.com/10b71aac-2651-40d6-8180-ce1b0829ddd8%2Fgeometric-80s-shapes-seamless-pattern-background-vector-24223373.jpg?v=1613492909823");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.container{
  background-color:rgb(255,255,255,.85);
  height:80vh;
  margin-top:4rem;
  margin-left:15rem;
  margin-right:15rem;
}

.header{
  display:flex;
  justify-content:center;
  font-family: 'Roboto Mono', monospace;
  font-size:1.3rem;
  padding-top:2rem;
}

.game {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25%;
  margin-top: 1rem;
}

.tile {
  width: 23%;
  padding: 5%;
}

.result {
  height: 2rem;
}
.right {
  border-right: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.result {
  color: black;
  font-size: 10rem;
}
.center {
  display: flex;
  justify-content: center;
}

#result{
  margin-top:3rem;
  display:flex;
  justify-content:center;
  font-family: 'Roboto Mono', monospace;
  font-size:1.5rem;
  font-weight:bold;
}

.reset-container{
  display:flex;
  justify-content: center;
  margin-top: 1rem;
}
